ENVIRONMENT=test
GCLOUD_PROJECT=your-gcp-project-id
GCLOUD_DEFAULT_ZONE=europe-west4-a
GCLOUD_DEFAULT_REGION=europe-west4
GCLOUD_MAIN_ACCOUNT=your-main-account@gmail.com
AIRFLOW_VERSION=3.0.1
AIRFLOW_IMAGE_NAME=apache/airflow:slim-3.0.1-python3.12
AIRFLOW_UID=1000
PYTHON_VERSION=3.12